@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    @include flex_box_custom(center, center, 10px);

    flex-direction: column;
    background-image: url('../../assets/icon/image/ofMan.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 410px;
    width: calc(100% / 2);
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    width: 80%;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
    color: $four_color;
}
