@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    // height: 144px;
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 50px;
    @include flex_box_custom(space-between, center, 0px);
}

.containerCard {
    @include flex_box_custom(center, center, 18px);

    width: 280px;
    height: 104px;
}

.containerContent {
    @include flex_box_custom(center, start, 8px);

    flex-direction: column;
    color: $white_color;
    font-weight: 300;

    .title {
        font-size: 17px;
    }

    .des {
        font-size: 16px;
        opacity: 0.6;
    }
}
