@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    margin-bottom: 20px;
    .labelInput {
        font-size: 14px;
        color: $four_color;
        margin-bottom: 5px;
    }

    .boxInput {
        position: relative;
        width: 100%;

        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px 0 10px 10px;
        }

        .boxIcon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-40%);
            cursor: pointer;
        }
    }
}
