@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.container {
    @include flex_box_custom(center, center, 0);

    background-image: url('../../assets/icon/image/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 750px;
}

.content {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
}

.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 0;
}

.des {
    font-size: 16px;
    color: $thr_color;
    font-weight: 400;
    margin: 15px 0 30px 0;
}
